@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

html,
body {
    margin: 0;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.acenter {
    align-items: center;
}
.jcenter {
    justify-content: center;
}

main {
    height: 100vh;
    width: 100vw;
}
.startBtn {
    height: 80px;
    width: 270px;
    border-radius: 10px;
    background: #3ab795b2;
    border: none;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 15px;
    font-family: "Play", sans-serif;
    cursor: pointer;
}
